<html>

    <head>
        <meta content="text/html; charset=UTF-8" http-equiv="content-type">
        <style type="text/css">
        
        table td,
        table th {
            padding: 5px;
            padding-left: 5px;
            padding-right: 5px;
        }
        
        .c11 {
            margin-left: 18pt;
            padding-top: 0pt;
            padding-left: 9pt;
            padding-bottom: 0pt;
            line-height: 1.5;
            orphans: 2;
            widows: 2;
            text-align: justify
        }
        
        .c8 {
            padding-top: 0pt;
            padding-bottom: 0pt;
            line-height: 1.0;
            widows: 2;
            text-align: left;
            height: 12pt
        }
        
        .c6 {
            padding-top: 0pt;
            padding-bottom: 0pt;
            line-height: 1.0;
            orphans: 2;
            widows: 2;
            text-align: justify;
            height: 12pt
        }
        
        .c12 {
            padding-top: 0pt;
            padding-bottom: 0pt;
            line-height: 1.0;
            orphans: 2;
            widows: 2;
            text-align: right
        }
        
        .c10 {
            padding-top: 0pt;
            padding-bottom: 0pt;
            line-height: 1.0;
            orphans: 2;
            orphans: 2;
            widows: 2;
            text-align: justify
        }
        
        .c4 {
            color: #000000;
            font-weight: 400;
            text-decoration: none;
            font-size: 12pt;
            font-family: "Times New Roman";
            font-style: italic
        }
        
        .c2 {
            padding-top: 0pt;
            padding-bottom: 0pt;
            line-height: 1.0;
            orphans: 2;
            widows: 2;
            text-align: center;
            text-transform: uppercase;
        }
        
        .c14 {
            padding-top: 0pt;
            padding-bottom: 0pt;
            line-height: 1.5;
            orphans: 2;
            widows: 2;
            text-align: justify
        }
        
        .c3 {
            color: #000000;
            font-weight: 400;
            text-decoration: none;
            font-size: 12pt;
            font-family: "Times New Roman";
            font-style: normal
        }
        
        .c9 {
            color: #000000;
            text-decoration: none;
            font-size: 12pt;
            font-family: "Times New Roman";
            font-style: normal
        }
        
        .c7 {
            background-color: #ffffff;
            max-width: 90%;
            padding: 42.5pt 42.5pt 42.5pt 42.5pt
            margin: 0 auto;
        }
        
        .c0 {
            vertical-align: baseline;
            font-weight: 700
        }
        
        .c5 {
            padding: 0;
            margin: 0
        }
        
        .c13 {
            height: 12pt
        }
        
        .c1 {
            vertical-align: baseline
        }
        
        
        
        p {
            margin: 0;
            color: #000000;
            font-size: 12pt;
            font-family: "Times New Roman"
        }
        
        h1 {
            padding-top: 24pt;
            color: #000000;
            font-weight: 700;
            font-size: 24pt;
            padding-bottom: 6pt;
            font-family: "Times New Roman";
            line-height: 1.0;
            page-break-after: avoid;
            orphans: 2;
            widows: 2;
            text-align: left
        }
         .title {
            padding-top: 24pt;
            color: #000000;
            font-weight: 700;
            font-size: 36pt;
            padding-bottom: 6pt;
            font-family: "Times New Roman";
            line-height: 1.0;
            page-break-after: avoid;
            orphans: 2;
            widows: 2;
            text-align: left
        }
        
       
        .normalText{
            margin-top:20px;
            margin-botton: 20px;
            margin-left: 70px;
            font-size:1.1em;
        }
        table {
             border-collapse:collapse;
             border-padding: 4px;
             font-size: 0.95em;
             text-align:center;
             width: 100%;
             margin: 0 auto;
        }
        td,th{
            border: 1 solid #222222;
            width: 30%;
        }
        

        .name{
            width: 170px;
        }
        .cpf, .rg{
            width: 130px;
        }
        .phone{
            width: 100px;
        }
        .email{
            width: 100px;
        }
        .presence{
            padding: 4px;
            width: 60%;
            height: 22px;
        }
        .data{
            width: 10%;
        }

        </style>
  </head>
  <body class='c7'>
    
    <p class="c2"><span style=" float: left; clear: right; overflow: hidden; display: inline-block; margin: 0.00px 0.00px; margin-top: 15px; border: 0.00px solid #000000; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px); width: 135.33px; height: 72.00px;"><%= wicked_pdf_image_tag 'image1.jpg', style: "width: 135.33px; height: 72.00px; margin-left: -0.00px; margin-top: -0.00px; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px);", title: "" %></span></p>
    <p class="c2"><span style=" float: right; overflow: hidden; display: inline-block; margin: 0; margin-bottom: 20px; border: 0.00px solid #000000; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px); width: 78.00px; height: 92.00px;"><%= wicked_pdf_image_tag 'image2.png', style: "width: 78.00px; height: 92.00px; margin-left: -0.00px; margin-top: -0.00px; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px);", title: "" %></span></p>
    <p class="c2 c13"><span class="c3 c1"></span></p>
    <p class="c8"><span class="c3 c1"></span></p>
    <p class="c2 c13"><span class="c3 c1"></span></p>
    
    <p class="c2" style="clear: right "><span class="c0">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;lista de alunos do curso de <%= @classroom_subject.subject.name %></p>
    
    <p class='normalText'>Período Letivo: <%= @classroom_subject.classroom.school_year.name %></p>
    <p class='normalText'>Turma: <%= @classroom_subject.classroom.fantasy_name %></p>
    <p class='normalText'> Educador responsavel: <%= @classroom_subject.teacher.name %></p>
    <p class="c2 c13"><span class="c3 c1"></span></p>
    <p class='normalText'>As aulas ocorrerão:
    <% if @classroom_subject.lesson_on_monday %>
      Segunda,
    <% end %>
    <% if @classroom_subject.lesson_on_tuesday %>
      Terça,
    <% end %>
    <% if @classroom_subject.lesson_on_wednesday %>
      Quarta,
    <% end %>
    <% if @classroom_subject.lesson_on_thursday %>
      Quinta,
    <% end %>
    <% if @classroom_subject.lesson_on_friday %>
        Sexta,
    <%end%>
    às <%= @classroom_subject.start_time.to_s(:time) %> até <%= @classroom_subject.finish_time.to_s(:time) %>.

    <p class="c2 c13"><span class="c3 c1"></span></p>
    
    <p class="c2 c13"><span class="c3 c1"></span></p>
    <table  class="table" cellpadding="20" cellspacing="20">
      <thead>
        <tr>
          <th>Alunos</th>
          <th class='presence'></th>
          <th class="data">Data</th>
        </tr>
        <tbody>  
          <% @inscriptions.each do |inscription| %>
            <% next unless inscription.subject_histories.find_by(classroom_subject: @classroom_subject).is_valid? %>
            <tr>
              <td><%= inscription.student.name %></td>
              <td class='presence'></td>
              <td class="data"></td>
            </tr>
          <% end %>
        <tbody>
      </thead>
    </table>
  </body>
</html>
