<div class='flex-painel'>
<a id="back-page" class="edit-button ">Voltar</a>    
    <%= link_to per_school_year_concept_grafic_path do %>
        <div class="card-painel card-center">
            <div>      
            <div class="students-icone-panel icon"></div>
            <p>Presença por Disciplina</p>
            </div>
        </div>
    <% end %>
    <%= link_to grafic_student_per_school_painel_path do %>
        <div class="card-painel card-center">
            <div>      
            <div class="students-icone-panel icon"></div>
            <p>Analíse das Disciplinas</p>
            </div>
        </div>
    <% end %>

    <%= link_to age_distrubution_path do %>
        <div class="card-painel card-center">
            <div>      
            <div class="students-icone-panel icon"></div>
            <p>Distribuição Etária</p>
            </div>
        </div>
    <% end %>

    <%= link_to gender_distrubution_path do %>
        <div class="card-painel card-center">
            <div>      
            <div class="students-icone-panel icon"></div>
            <p>Distribuição por Genero</p>
            </div>
        </div>
    <% end %>

    <%= link_to presence_per_school_year_path do %>
        <div class="card-painel card-center">
            <div>      
            <div class="students-icone-panel icon"></div>
            <p>Presença por Periodo Letivo</p>
            </div>
        </div>
    <% end %>

    <%= link_to dairy_concept_path do %>
        <div class="card-painel card-center">
            <div>      
            <div class="students-icone-panel icon"></div>
            <p>Conceito Diario</p>
            </div>
        </div>
    <% end %>
</div>
