<h1>Serviço Social</h1>
    
    <div class="card-interview-align">
        <div class="card-interview size">
            <div class="card-show-container">
                <p>Datas Importantes</p>
                <div class="divider"></div>
                <div class="line-interview">
                    <p>Conselho de classe</p>
                    <span>xx/xx/xx</span>
                </div>
                <div class="divider"></div>
                <div class="line-interview">
                    <p>Matrículas</p>
                    <span>xx/xx/xx</span>
                </div>
                <div class="divider"></div>
                <div class="line-interview">
                    <p>Próx. Feriado</p>
                    <span>xx/xx/xx</span>
                </div>
                <div class="divider"></div>
                <div class="line-interview">
                    <p>Atividade</p>
                    <span>xx/xx/xx</span>
                </div>
                <div class="divider"></div>
                <div class="line-interview">
                    <p>Informações</p>
                    <span>xx/xx/xx</span>
                </div>
                <div class="divider"></div>
                <div class="line-interview">
                    <p>Informações</p>
                    <span>xx/xx/xx</span>
                </div>
                <div class="divider"></div>
                <div class="line-interview">
                    <p>Informações</p>
                    <span>xx/xx/xx</span>
                </div>  
            </div>

        </div>
           <div class="card-interview size2">
                <div class="card-show-container">
                    <p>Resultado de conselho</p>
                    <div class="divider"></div>
                    <div class="line-interview">
                        <p>Conselhos fechados</p>
                        <span><%= percentage_finished_councils %></span>
                    </div>
                    <div class="divider"></div>
                    <p>Conceitos</p>
                    <div class="divider"></div>
                    <div class="line-interview">
                        <p>A</p>
                        <span><%= percentage_grades_council("A") %></span>
                    </div>
                    <div class="divider"></div>
                    <div class="line-interview">
                        <p>B</p>
                        <span><%= percentage_grades_council("B") %></span>
                    </div>
                    <div class="divider"></div>
                    <div class="line-interview">
                        <p>C</p>
                        <span><%= percentage_grades_council("C") %></span>
                    </div>
                    <div class="divider"></div>
                    <div class="line-interview">
                        <p>D</p>
                        <span><%= percentage_grades_council("D") %></span>
                    </div>
                    <div class="divider"></div>
                    <p>Alunos Aprovados</p>
                    <div class="divider"></div>
                    <div class="line-interview">
                        <p>Estudando</p>
                        <span><%= percentage_situation_council(0) %></span>
                    </div>
                    <div class="divider"></div>
                    <div class="line-interview">
                        <p>Aprovado</p>
                        <span><%= percentage_situation_council(1) %></span>
                    </div>
                    <div class="divider"></div>
                    <div class="line-interview">
                        <p>Participou</p>
                        <span><%= percentage_situation_council(2) %></span>
                    </div>
                    <div class="divider"></div>
                    <div class="line-interview">
                        <p>Reprovado por Falta</p>
                        <span><%= percentage_situation_council(5) %></span>
                    </div>
            </div>
        </div>  
    </div>         
