<html>

<head>
    <meta content="text/html; charset=UTF-8" http-equiv="content-type">
    <style type="text/css">
        ol.lst-kix_list_1-3 {
            list-style-type: none
        }
        
        ol.lst-kix_list_1-4 {
            list-style-type: none
        }
        
        ol.lst-kix_list_1-5 {
            list-style-type: none
        }
        
        ol.lst-kix_list_1-6 {
            list-style-type: none
        }
        
        ol.lst-kix_list_1-0 {
            list-style-type: none
        }
        
        .lst-kix_list_1-4>li {
            counter-increment: lst-ctn-kix_list_1-4
        }
        
        ol.lst-kix_list_1-1 {
            list-style-type: none
        }
        
        ol.lst-kix_list_1-2 {
            list-style-type: none
        }
        
        ol.lst-kix_list_1-6.start {
            counter-reset: lst-ctn-kix_list_1-6 0
        }
        
        .lst-kix_list_1-1>li {
            counter-increment: lst-ctn-kix_list_1-1
        }
        
        ol.lst-kix_list_1-3.start {
            counter-reset: lst-ctn-kix_list_1-3 0
        }
        
        ol.lst-kix_list_1-2.start {
            counter-reset: lst-ctn-kix_list_1-2 0
        }
        
        ol.lst-kix_list_1-8.start {
            counter-reset: lst-ctn-kix_list_1-8 0
        }
        
        .lst-kix_list_1-0>li:before {
            content: "" counter(lst-ctn-kix_list_1-0, lower-latin) ") "
        }
        
        ol.lst-kix_list_1-5.start {
            counter-reset: lst-ctn-kix_list_1-5 0
        }
        
        ol.lst-kix_list_1-7 {
            list-style-type: none
        }
        
        .lst-kix_list_1-1>li:before {
            content: "" counter(lst-ctn-kix_list_1-1, lower-latin) ". "
        }
        
        .lst-kix_list_1-2>li:before {
            content: "" counter(lst-ctn-kix_list_1-2, lower-roman) ". "
        }
        
        .lst-kix_list_1-7>li {
            counter-increment: lst-ctn-kix_list_1-7
        }
        
        ol.lst-kix_list_1-8 {
            list-style-type: none
        }
        
        .lst-kix_list_1-3>li:before {
            content: "" counter(lst-ctn-kix_list_1-3, decimal) ". "
        }
        
        .lst-kix_list_1-4>li:before {
            content: "" counter(lst-ctn-kix_list_1-4, lower-latin) ". "
        }
        
        ol.lst-kix_list_1-0.start {
            counter-reset: lst-ctn-kix_list_1-0 0
        }
        
        .lst-kix_list_1-0>li {
            counter-increment: lst-ctn-kix_list_1-0
        }
        
        .lst-kix_list_1-6>li {
            counter-increment: lst-ctn-kix_list_1-6
        }
        
        .lst-kix_list_1-7>li:before {
            content: "" counter(lst-ctn-kix_list_1-7, lower-latin) ". "
        }
        
        .lst-kix_list_1-3>li {
            counter-increment: lst-ctn-kix_list_1-3
        }
        
        .lst-kix_list_1-5>li:before {
            content: "" counter(lst-ctn-kix_list_1-5, lower-roman) ". "
        }
        
        .lst-kix_list_1-6>li:before {
            content: "" counter(lst-ctn-kix_list_1-6, decimal) ". "
        }
        
        ol.lst-kix_list_1-7.start {
            counter-reset: lst-ctn-kix_list_1-7 0
        }
        
        .lst-kix_list_1-2>li {
            counter-increment: lst-ctn-kix_list_1-2
        }
        
        .lst-kix_list_1-5>li {
            counter-increment: lst-ctn-kix_list_1-5
        }
        
        .lst-kix_list_1-8>li {
            counter-increment: lst-ctn-kix_list_1-8
        }
        
        ol.lst-kix_list_1-4.start {
            counter-reset: lst-ctn-kix_list_1-4 0
        }
        
        .lst-kix_list_1-8>li:before {
            content: "" counter(lst-ctn-kix_list_1-8, lower-roman) ". "
        }
        
        ol.lst-kix_list_1-1.start {
            counter-reset: lst-ctn-kix_list_1-1 0
        }
        
        ol {
            margin: 0;
            padding: 0
        }
        
        table td,
        table th {
            padding: 0
        }
        
        .c11 {
            margin-left: 18pt;
            padding-top: 0pt;
            padding-left: 9pt;
            padding-bottom: 0pt;
            line-height: 1.5;
            orphans: 2;
            widows: 2;
            text-align: justify
        }
        
        .c8 {
            padding-top: 0pt;
            padding-bottom: 0pt;
            line-height: 1.0;
            orphans: 2;
            widows: 2;
            text-align: left;
            height: 12pt
        }
        
        .c6 {
            padding-top: 0pt;
            padding-bottom: 0pt;
            line-height: 1.0;
            orphans: 2;
            widows: 2;
            text-align: justify;
            height: 12pt
        }
        
        .c12 {
            padding-top: 0pt;
            padding-bottom: 0pt;
            line-height: 1.0;
            orphans: 2;
            widows: 2;
            text-align: right
        }
        
        .c10 {
            padding-top: 0pt;
            padding-bottom: 0pt;
            line-height: 1.0;
            orphans: 2;
            widows: 2;
            text-align: justify
        }
        
        .c4 {
            color: #000000;
            font-weight: 400;
            text-decoration: none;
            font-size: 12pt;
            font-family: "Times New Roman";
            font-style: italic
        }
        
        .c2 {
            padding-top: 0pt;
            padding-bottom: 0pt;
            line-height: 1.0;
            orphans: 2;
            widows: 2;
            text-align: center
        }
        
        .c14 {
            padding-top: 0pt;
            padding-bottom: 0pt;
            line-height: 1.5;
            orphans: 2;
            widows: 2;
            text-align: justify
        }
        
        .c3 {
            color: #000000;
            font-weight: 400;
            text-decoration: none;
            font-size: 12pt;
            font-family: "Times New Roman";
            font-style: normal
        }
        
        .c9 {
            color: #000000;
            text-decoration: none;
            font-size: 12pt;
            font-family: "Times New Roman";
            font-style: normal
        }
        
        .c7 {
            background-color: #ffffff;
            max-width: 510.3pt;
            padding: 42.5pt 42.5pt 42.5pt 42.5pt
        }
        
        .c0 {
            vertical-align: baseline;
            font-weight: 700
        }
        
        .c5 {
            padding: 0;
            margin: 0
        }
        
        .c13 {
            height: 12pt
        }
        
        .c1 {
            vertical-align: baseline
        }
        
        .title {
            padding-top: 24pt;
            color: #000000;
            font-weight: 700;
            font-size: 36pt;
            padding-bottom: 6pt;
            font-family: "Times New Roman";
            line-height: 1.0;
            page-break-after: avoid;
            orphans: 2;
            widows: 2;
            text-align: left
        }
        
        .subtitle {
            padding-top: 18pt;
            color: #666666;
            font-size: 24pt;
            padding-bottom: 4pt;
            font-family: "Georgia";
            line-height: 1.0;
            page-break-after: avoid;
            font-style: italic;
            orphans: 2;
            widows: 2;
            text-align: left
        }
        
        li {
            color: #000000;
            font-size: 12pt;
            font-family: "Times New Roman"
        }
        
        p {
            margin: 0;
            color: #000000;
            font-size: 12pt;
            font-family: "Times New Roman"
        }
        
        h1 {
            padding-top: 24pt;
            color: #000000;
            font-weight: 700;
            font-size: 24pt;
            padding-bottom: 6pt;
            font-family: "Times New Roman";
            line-height: 1.0;
            page-break-after: avoid;
            orphans: 2;
            widows: 2;
            text-align: left
        }
        
        h2 {
            padding-top: 18pt;
            color: #000000;
            font-weight: 700;
            font-size: 18pt;
            padding-bottom: 4pt;
            font-family: "Times New Roman";
            line-height: 1.0;
            page-break-after: avoid;
            orphans: 2;
            widows: 2;
            text-align: left
        }
        
        h3 {
            padding-top: 14pt;
            color: #000000;
            font-weight: 700;
            font-size: 14pt;
            padding-bottom: 4pt;
            font-family: "Times New Roman";
            line-height: 1.0;
            page-break-after: avoid;
            orphans: 2;
            widows: 2;
            text-align: left
        }
        
        h4 {
            padding-top: 12pt;
            color: #000000;
            font-weight: 700;
            font-size: 12pt;
            padding-bottom: 2pt;
            font-family: "Times New Roman";
            line-height: 1.0;
            page-break-after: avoid;
            orphans: 2;
            widows: 2;
            text-align: left
        }
        
        h5 {
            padding-top: 11pt;
            color: #000000;
            font-weight: 700;
            font-size: 11pt;
            padding-bottom: 2pt;
            font-family: "Times New Roman";
            line-height: 1.0;
            page-break-after: avoid;
            orphans: 2;
            widows: 2;
            text-align: left
        }
        
        h6 {
            padding-top: 10pt;
            color: #000000;
            font-weight: 700;
            font-size: 10pt;
            padding-bottom: 2pt;
            font-family: "Times New Roman";
            line-height: 1.0;
            page-break-after: avoid;
            orphans: 2;
            widows: 2;
            text-align: left
        }
    </style>
</head>

<body class="c7">
    <p class="c2"><span style=" float: left; clear: right; overflow: hidden; display: inline-block; margin: 0.00px 0.00px; margin-top: 15px; border: 0.00px solid #000000; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px); width: 135.33px; height: 72.00px;"><%= wicked_pdf_image_tag 'image1.jpg', style: "width: 135.33px; height: 72.00px; margin-left: -0.00px; margin-top: -0.00px; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px);", title: "" %></span></p>
    <p class="c2"><span style=" float: right; overflow: hidden; display: inline-block; margin: 0; margin-bottom: 20px; border: 0.00px solid #000000; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px); width: 78.00px; height: 92.00px;"><%= wicked_pdf_image_tag 'image2.png', style: "width: 78.00px; height: 92.00px; margin-left: -0.00px; margin-top: -0.00px; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px);", title: "" %></span></p>
    <p class="c2 c13"><span class="c3 c1"></span></p>
    <p class="c8"><span class="c3 c1"></span></p>
    <p class="c2 c13"><span class="c3 c1"></span></p>
    <p class="c2" style="clear: right"><span class="c0">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;TERMOS DE RESPONSABILIDADE E DE USO DE IMAGEM E VOZ</span></p>
    <p class="c6"><span class="c3 c1"></span></p>
    <p class="c14">
        <span class="c1 c3">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Eu, </span><span class="c9 c0"><%= @student.responsible_name %></span><span class="c1 c3">, CPF N&ordm; </span><span class="c9 c0"><%= @student.responsible_cpf %></span><span class="c3 c1">, na qualidade de [ ] pai,&nbsp;&nbsp; [ ] m&atilde;e ou [ ] responsável legal pela criança/adolescente </span><span class="c0 c9"><%= @student.name %></span><span class="c3 c1">, matriculado no </span><span class="c4 c1">Instituto Rumo N&aacute;utico</span><span class="c3 c1">, conforme informa&ccedil;&otilde;es prestadas em sua ficha pessoal, declaro, para os todos os efeitos legais, que:</span>
    </p> 
    <ol class="c5 lst-kix_list_1-0 start" start="1">
        <p class="c6"></p>
        <li class="c11">
            <span class="c3 c1">Estou inteiramente de acordo com as condi&ccedil;&otilde;es oferecidas pelo </span><span class="c4 c1">Instituto Rumo N&aacute;utico</span><span class="c3 c1">&nbsp;para a pr&aacute;tica segura e adequada das atividades frequentadas pelo menor acima identificado;</span>
        </li>
        <p class="c6"></p>
        <li class="c11">
            <span class="c3 c1">Assumo a inteira responsabilidade pelos atos praticados pelo menor acima identificado, perante o </span><span class="c4 c1">Instituto Rumo N&aacute;utico</span><span class="c3 c1">, nos hor&aacute;rios fixados para a pr&aacute;tica de suas atividades;</span>
        </li>
        <p class="c6"></p>
        <li class="c11">
            <span class="c3 c1">Concordo com os m&eacute;todos utilizados pelos orientadores do </span><span class="c4 c1">Instituto Rumo N&aacute;utico</span><span class="c3 c1">, estando ciente de que o menor acima identificado deve seguir todas as suas instru&ccedil;&otilde;es;</span>
        </li>
        <p class="c6"></p>
        <li class="c11">
            <span class="c3 c1">Informarei, imediatamente, qualquer impedimento f&iacute;sico do menor acima identificado para a pr&aacute;tica das atividades oferecidas pelo </span><span class="c4 c1">Instituto Rumo N&aacute;utico</span><span class="c3 c1">;</span>
        </li>
        <p class="c6"></p>
        <li class="c11">
            <span class="c3 c1">Estou ciente dos hor&aacute;rios estabelecidos para a pr&aacute;tica das atividades do menor acima identificado, isentando o </span><span class="c4 c1">Instituto Rumo N&aacute;utico</span><span class="c3 c1">&nbsp;de qualquer responsabilidade pela integridade f&iacute;sica do menor em hor&aacute;rios diversos daqueles fixados;</span>
        </li>
        <p class="c6"></p>
        <li class="c11">
            <span class="c3 c1">Autorizo sem quaisquer &ocirc;nus para o </span><span class="c4 c1">Instituto Rumo N&aacute;utico</span><span class="c3 c1">, a capta&ccedil;&atilde;o e a utiliza&ccedil;&atilde;o da imagem e voz do menor acima identificado, bem como seu nome, sem limita&ccedil;&atilde;o de tempo ou territ&oacute;rio, em qualquer meio de comunica&ccedil;&atilde;o p&uacute;blica ou privada (internet, jornais, redes e m&iacute;dias sociais etc.) para fins exclusivos de registro e manuten&ccedil;&atilde;o de acervo hist&oacute;rico, bem como para a divulga&ccedil;&atilde;o das atividades do </span><span class="c1 c4">Instituto Rumo N&aacute;utico</span><span class="c3 c1">.</span>
        </li>
        <p class="c6"></p>
        <li class="c11">
            <span class="c3 c1">Tomei ci&ecirc;ncia do Termo de Ci&ecirc;ncia e Consentimento Para o Tratamento de Dados Pessoais de Alunos do </span><span class="c1 c4">Instituto Rumo N&aacute;utico </span><span class="c3 c1">com o detalhamento sobre o tratamento de meus Dados Pessoais e do aluno, em observ&acirc;ncia &agrave; Lei n&ordm; 13.709/2018 (Lei Geral de Prote&ccedil;&atilde;o de Dados – LGPD), com a finalidade de presta&ccedil;&atilde;o de serviços educacionais n&aacute;uticos e de desenvolvimento de pol&iacute;ticas p&uacute;blicas, o que exige a execu&ccedil;&atilde;o de diversas atividades relacionadas como, por exemplo: a assist&ecirc;ncia social; a rotina pedag&oacute;gica, administrativa, financeira, gerencial, de divulga&ccedil;&atilde;o e comunica&ccedil;&atilde;o com pais e parceiros do Instituto; o desenvolvimento esportivo; a garantia da sa&uacute;de, da incolumidade e da segurança do aluno; a presta&ccedil;&atilde;o de contas com &Oacute;rg&atilde;os competentes da Administra&ccedil;&atilde;o P&uacute;blica; dentre outras;</span>
        </li>
        <p class="c6"></p>
        <li class="c11">
            <span class="c3 c1">Fui informado de que, caso deseje exercer qualquer dos direitos garantidos aos Titulares de Dados Pessoais, inclusive o de n&atilde;o consentir com algum ou com todos os tratamentos de Dados Pessoais, deverei manifestar minha discord&acirc;ncia, por escrito, ao Encarregado atrav&eacute;s do e-mail privacidade@projetograel.org.br, o qual fornecer&aacute; os esclarecimentos espec&iacute;ficos acerca das consequ&ecirc;ncias da oposi&ccedil;&atilde;o ao tratamento e tomar&aacute; as provid&ecirc;ncias necess&aacute;rias ao atendimento da solicita&ccedil;&atilde;o;</span>
        </li>
        <p class="c6"></p>
        <li class="c11">
            <span class="c3 c1">Na qualidade de respons&aacute;vel e/ou representante legal da crian&ccedil;a e/ou adolescente acima identificado, e no exerc&iacute;cio da autodetermina&ccedil;&atilde;o informativa, manifesto, neste ato, meu consentimento livre, informado e inequ&iacute;voco, com rela&ccedil;&atilde;o ao tratamento de meus dados pessoais e do aluno, pelo </span><span class="c1 c4">Instituto Rumo N&aacute;utico</span><span class="c3 c1"> ou por terceiros por ele autorizados, de acordo com os termos do Contrato e do Termo de Ci&ecirc;ncia e Consentimento Para o Tratamento de Dados Pessoais de Alunos do Projeto Grael.</span>
        </li>
    </ol>
    <p class="c6"></p>
    <p class="c10"><span class="c1">Niter&oacute;i,&nbsp;</span><span class="c0"><%= Date.today.strftime('%d') %></span><span class="c1">&nbsp;de&nbsp;</span><span class="c0"><%= l Date.today, format: :month %></span>&nbsp;de&nbsp;<span class="c1"></span><span class="c0"><%= l Date.today, format: :year %></span><span class="c3 c1"></span></p>
    <p class="c6"></p>
    <p class="c10"><span class="c1">Endere&ccedil;o: </span><span class="c0"><%= @student.address %></span></p>
    <p class="c6"></p>
    <p class="c10"><span class="c1">CEP: </span><span class="c0"><%= @student.cep %></span></p>
    <p class="c6"></p>
    <p class="c10"><span class="c1">Telefone: </span><span class="c0"><%= @student.responsible_phone %></span></p>
    <p class="c6"></p>
    <p class="c10"><span class="c1">Como ficou sabendo do Projeto Grael? </span><span class="c0"><%= @student.project_indication %></span></p>
    <p class="c6"></p>
    <p class="c10"><span class="c1">Faz uso de medicamento? </span><span class="c0"><%= @student.medication.present? ? "Sim" : "Não" %></span></p>
    <p class="c6"></p>
    <p class="c10"><span class="c1">E-mail: </span><span class="c0"><%= @student.responsible_email %></span></p>
    <p class="c6"></p>
    <p class="c6"></p>
    <p class="c6"></p>
    <p><span class="c3 c1">__________________________________________________________________________________</span></p>
    <p style='margin-top: 5px'>
        <span class="c1">Nome leg&iacute;vel e identidade do respons&aacute;vel pela crian&ccedil;a/adolescente</span>
    </p>
    <p class="c6"></p>
    <p class="c6"></p>
    <p class="c6"></p>
    <p><span class="c3 c1">_________________________________________</span></p>
    <p style='margin-top: 5px'>
        <span class="c1">Assinatura do respons&aacute;vel pela crian&ccedil;a/adolescente</span>
    </p>
</body>

</html>