<%= form_with(model: rubric, local: true, class: 'container-85') do |form| %>
  <script>
    $(document).ready(() => {
      console.log("Executando script");
      $('#rubric_value').inputmask("numeric", {
        radixPoint: ",",
        groupSeparator: ".",
        digits: 2,
        autoGroup: true,
        prefix: 'R$ ', //Space after $, this will not truncate the first character.
        rightAlign: false,
        oncleared: function() { self.Value(''); }
      });
    });
  </script>

  <% if rubric.errors.any? %>
    <script>
      $(document).ready(function(){
        swal(
          "<h2>"+
            "<%= pluralize(rubric.errors.count, "erro") %> proibiu de salvar esta rubrica:"+
          "</h2>"+
          "<ul>"+
            "<% rubric.errors.full_messages.each do |message| %>"+
              "<li>"+"<%= message %>"+"</li>"+
            "<% end %>"+
          "</ul>",
        "","");
      });   
    </script>
  <% end %>

  <div class="card">
    <div class="card-show-container">
      <div class="grid-1-column grid">
        <div class="field-info">
          <p>Descrição:</p>
          <%= form.text_area :description, id: :project_description, rows:10, cols:50 %>
        </div>

        <div class="field-info">
          <p>Valor:</p>
          <%= form.text_field :value, id: :rubric_value %>
        </div>
      </div>
    </div>
  </div>
  
  <% if @rubric.project.nil?%>
    <div class="field">
      <%= form.hidden_field :project_id, id: :rubric_project_id, value: params[:project_id] %>
    </div>
  <% else %>
    <div class="field">
      <%= form.hidden_field :project_id, id: :rubric_project_id, value: @rubric.project.id %>
    </div>
  <% end %>

  <div class="line-buttons" style="display: block;">
    <% if params[:project_id].present? %>
      <%= link_to 'Voltar', project_path(params[:project_id]), class: 'generate-button', style: 'display: inline;' %>
    <% else %>
      <%= link_to 'Voltar', @rubric.project, class: 'generate-button', style: 'display: inline;' %>
    <% end %>
    <%= form.submit 'Salvar Rubrica', class: 'generate-button', style: 'display: inline;' %>
  </div>

<% end %>
