<h1>Controle de disciplinas</h1>

<div class="container-secretary-table">

   <% @inscriptions.each do |inscription| %>

      <div class="card-inscription">
         <div class="row-name-inscription">
            <p class="inscription-name"><%= inscription.student.name %></p>
         </div>

         <div class="collapse-field">
            <div class="row-inscription">
               <div class="col-inscription"> <!-- FOTO E NOME DO ALUNO -->
                  <%= link_to 'Perfil', inscription.student, class:'edit-button' %>
               </div>

               <div class="col-inscription" style="width: 100%;"> <!-- DISCIPLINAS -->
                  <div class="space-around-secretary">
                     <% @classroom_subjects.each do |classroom_subject| %>
                        <div class="row-inscription-secretary">
                           <input type="hidden" class="student_classroom_subject_id" value="<%= Academic::StudentClassroomSubject.get_student_classroom_subject(inscription, classroom_subject).id%>">
                           <% if Academic::StudentClassroomSubject.get_student_classroom_subject(inscription, classroom_subject).show?%>
                              <input type="checkbox" checked class="checkbox_of_secretary">
                           <% else %>
                              <input type="checkbox"  class="checkbox_of_secretary">
                           <% end %>
                           <p><%= classroom_subject.subject.name %> <%=classroom_subject.start_time.hour%>h</p>
                        </div>
                     <% end %>
                  </div>
               </div>
            </div>
            <div class="divider"></div>
            <div>
               <%inscription.student.classrooms.where(school_year_id: Academic::SchoolYear.current.id).each do |classroom|%>
                    <p>Turma: <%= classroom.fantasy_name%></p>
               <%end%>
            </div>
      
         </div>
      </div>

   <% end %>

   <input type=hidden id="authenticity_token" value="<%= form_authenticity_token %>"></input>

</div>