<p id="notice"><%= notice if notice != "You are not authorized to access this page"%></p>

<h1 style="margin-bottom: 0;">Fichas de Atendimento</h1>

<div class="container-65">
  <div class="flex-end" style="margin-bottom: 40px;">
    <%= link_to 'Voltar', social_service_index_path, class: 'generate-button' %>
  </div>
</div>

<div class="search-box sheet-search-box">
  <%= form_tag(index_student_service_sheets_path, method: :get, class: "search-form") do %>
    <div>
      <%= text_field_tag :term, params[:term], :placeholder => "Digite o nome:", class: "search-input" %>
      <%= submit_tag '', name: nil, class: 'search-button' %>
    </div>
    <%= select_tag :sheet_kind, options_for_select(["Entrevista Profissionalizante", "Ficha de Atendimento"]), { include_blank: "Escolha o tipo de ficha..."}  %>
</div>
  <% end %>

<% @sheets.each do |sheet| %>
  <% if sheet.class.name == "ServiceSheet" %>
    <% student_sheet_path = :student_service_sheet_path %>
  <% elsif sheet.class.name == "VocationalInterview"%>
    <% student_sheet_path = :student_vocational_interview_path %>
  <% end %>
  <div class="card">
    <div class="card-action">
      <%= link_to send(student_sheet_path ,student_id: sheet.student.id, id: sheet.id), :class => 'card-link' do %>
        <div class="action-photo">
          <% if sheet.student.photo.present? %>
            <%= image_tag sheet.student.photo.small.url, :class => 'student-photo' %>
          <% else %>
            <div class="student-photo students-icone-panel icon"></div>
          <% end %>
        </div>
      <% end %>
    </div>
    <div class="card-content">
      <div class="titles">
        <%= link_to send(student_sheet_path ,student_id: sheet.student.id, id: sheet.id), :class => 'card-link' do %>
          <%= sheet.student.name %>
        <% end %>
        <% translated_names = {"ServiceSheet" => "Atendimento", "VocationalInterview" => "Profissionalizante"}%>
        <%= link_to translated_names[sheet.class.name], send(student_sheet_path ,student_id: sheet.student.id, id: sheet.id), :class => 'card-link sheet-type' %>

        <div class="button-students sheet-button-students">
          <% if sheet.class.name == "ServiceSheet" #Different paths for each sheet type%>
            <%= link_to 'Editar', edit_student_service_sheet_path(student_id: sheet.student.id, id: sheet.id), class:"edit-button" %>
            <% if can? :destroy, sheet %>
              <%= link_to 'Excluir', [sheet.student, sheet], method: :delete, data: { confirm: 'Tem certeza?' }, class:"delete-button" %>
            <% end %>

          <% elsif sheet.class.name == "VocationalInterview"%>
              <%= link_to 'Editar', edit_student_vocational_interview_path(student_id: sheet.student.id, id: sheet.id), class:"edit-button" %>
              <% if can? :destroy, sheet %>
                <%= link_to "Excluir", [sheet.student, sheet], controller: "vocational_interviews", method: :delete,  data: { confirm: 'Tem certeza?' }, class:"delete-button" %>
            <% end %>
          <% end %>
        </div>

      </div>

      <%= link_to send(student_sheet_path ,student_id: sheet.student.id, id: sheet.id), :class => 'card-link' do %>      
        <div class="grid registration">
          <div class="field-info">
            <p>Data de Nascimento:</p>
            <%= sheet.student.birthdate.strftime("%d/%m/%Y") if sheet.student.birthdate.present?%>
          </div>
          <div class="field-info">
            <p>Idade</p>
            <%= age(sheet.student.birthdate) %>
          </div>

          <div class="field-info">
            <p>Sexo:</p>
            <%= pretty_sex(sheet.student.sex) if sheet.student.sex.present? %>
          </div>

          <div class="field-info">
            <p>Etnia:</p>
            <%= sheet.student.ethnicity %>
          </div>
            
          <div class="field-info">
            <p>Nacionalidade:</p>
            <%= sheet.student.nationality %>
          </div>
        </div>
      <% end %>

      <%= link_to send(student_sheet_path ,student_id: sheet.student.id, id: sheet.id), :class => 'card-link' do %>
        <div class="grid discipline">
          <div class="field-info">
            <p>RG:</p>
            <%= sheet.student.rg %>
          </div>
          
          <div class="field-info">
            <p>Órgão Expedidor:</p>
            <%= sheet.student.issuing_agency %>
          </div>
          
          <div class="field-info">
            <p>Data de Emissão:</p>
            <%= pretty_date(sheet.student.issuing_date) %>
          </div>
          
          <div class="field-info">
            <p>CPF:</p>
            <%= sheet.student.cpf %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
<%= paginacao(@sheets) %> 

