<%= form_with(model: free_time, local: true) do |form| %>
  <% if free_time.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(free_time.errors.count, "error") %> prohibited this free_time from being saved:</h2>

      <ul>
      <% free_time.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label "Dia" %>
    <%= form.date_field :day, id: :free_tim_day %>
    
  </div>

  <div class="field">
    <%= form.label "Começa" %>
    <%= form.time_field :start_at, id: :free_time_start_at %>
  </div>

  <div class="field">
    <%= form.label "Termina" %>
    <%= form.time_field :finish_at, id: :free_time_finish_at %>
  </div>


  <div class="actions">
    <%= form.submit  class:'edit-button', value: 'Criar Horário'%>
  </div>
<% end %>
