<li>
  <%= link_to students_path do %>
    <div class="students-icone-menu icon-menu"></div>
    <span>Alunos</span>
  <% end %>
</li>

<% if Academic::SchoolYear.current %>
  <li>
    <%= link_to school_year_classrooms_path(Academic::SchoolYear.current) do %>
      <div class="classes-icone-menu icon-menu"></div>
      <span>Turmas</span>
    <% end %>
  </li>
<% end %>

<li>
  <%= link_to teachers_path do %>
    <div class="teacher-icone-menu icon-menu"></div>
    <span>Educadores</span>
  <% end %> 
</li>

<li>
  <%=link_to new_interview_path do %>
    <div class="assist-icone-menu icon-menu"></div>
    <span>Entrevistas</span>
  <% end %> 
</li>

<li>
  <%= link_to secretary_report_path do %>
    <div class="reports-icone-menu icon-menu"></div>
    <span>Relatórios</span>
  <% end %> 
</li>



<li>
  <%= link_to school_years_path do %>
    <div class="school-year-icone-menu-save icon-menu"></div>
    <span>Períodos</span>
  <% end %>
</li>