<% if (notice) %>
  <script>
      $(document).ready(function(){
        swal("<%= notice if notice != "You are not authorized to access this page"%>","","");
      });
  </script>
<% end %>

<h1>Transações</h1>
<% if(@transactions.any?) %>
  <div class="table">
    <%= link_to 'Nova transação', new_transaction_path, class:'button-new' %>
    
    <table>
      <thead>
        <tr>
          <th>Valor</th>
          <th>Data</th>
          <th>Pagador</th>
          <th>Recebedor</th>
          <th>Conta</th>
          <th>Descrição</th>
          <th>Ações</th>
        </tr>
      </thead>

      <tbody>
        <% @transactions.each do |transaction| %>
          <tr>
            <td><%= link_to transaction do %><div class="linkable"><%= number_to_currency transaction.value, unit: "R$", separator: ",", delimiter: "." %></div><% end %></td>
            <td><%= link_to transaction do %><div class="linkable"><%=l transaction.transaction_date unless transaction.transaction_date.nil?%></div><% end %></td>
            <td><%= link_to transaction do %><div class="linkable"><%= transaction.payer.name %></div><% end %></td>
            <td><%= link_to transaction do %><div class="linkable"><%= transaction.receiver.name %></div><% end %></td>
            <td><%= link_to transaction do %><div class="linkable"><%= display_account(transaction.account) %></div><% end %></td>
            <td><%= link_to transaction do %><div class="linkable"><%= transaction.description %></div><% end %></td>
            <td><div class="linkable">
              <%= link_to 'Editar', edit_transaction_path(transaction), class:"green-action-button action-button" %>
              <%= link_to 'Excluir', transaction, method: :delete, data: { confirm: 'Excluir transação?' }, class:"red-action-button action-button" %>
            </div></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    
    <%= link_to cash_book_path, class:'button-back' do %>
      <div class='icon-back'></div>
    <% end %>

  </div>
  <%= paginacao(@transactions) %>
<% else %>
  <p>Não há transações a serem exibidas.</p>
  <%= link_to 'Nova transação', new_transaction_path, class:'button-new' %>
  <%= link_to cash_book_path, class:'button-back' do %>
    <div class='icon-back'></div>
  <% end %>

<% end %>

